*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* root variables */
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

/* The whole design process is divided into 5 stages */
/* 1- board Design */
.board {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

/* 2- cells design */
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell:first-child,
.cell:nth-child(2),
.cell.cell:nth-child(3) {
  border-top: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell.cell:nth-child(8) {
  border-bottom: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}

/* 3- X and Circle Marks design*/
/* X design */
.cell.x::before,
.cell.x::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}
.cell.x::after {
  transform: rotate(45deg);
}
.cell.x::before {
  transform: rotate(-45deg);
}

/* Circle Design */
.cell.circle::after,
.cell.circle::before {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: black;
  position: absolute;
}
.cell.circle::after {
  height: calc(var(--mark-size) * 0.7);
  width: calc(var(--mark-size) * 0.7);
  background-color: white;
}

/* 4- Hover stage of X and Circle design */
/* X hover stage */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: gray;
  position: absolute;
}
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Circle Hover Stage */
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: gray;
  position: absolute;
}
.board.circle .cell:not(.x):not(.circle):hover::after {
  height: calc(var(--mark-size) * 0.7);
  width: calc(var(--mark-size) * 0.7);
  background-color: white;
}

/* 5- Winning stage design */
.winning-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  flex-direction: column;
  font-size: 4rem;
}
#restartButton {
  background-color: white;
  padding: 0.2em 0.2em;
  border: 1px solid black;
  font-size: 2rem;
}
#restartButton:hover {
  border: 1px solid white;
  color: white;
  background-color: black;
}
.winning-message.show {
  display: flex;
}
